[Unit]
Description=Timer for healthping
After=network-online.target
Requires=network-online.target

[Timer]
OnActiveSec=0s
OnUnitActiveSec=30s

AccuracySec=1s

[Install]
WantedBy=timers.target
